body {
  font-family: arial, sans-serif;
  background-image: url("../images/background.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40em;
}
h1 {
  color: #202124;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: rgb(112, 117, 122);
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto 0;
  padding: 20px;
  border: 1px solid #dadee1;
  border-radius: 5px;
  background-color: #ffffffe6;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  font-weight: 600;
}
.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  font-size: 16px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperature {
  font-size: 13px;
}
#icon {
  background-color: #d2d5d6;
  border-radius: 5px;
  margin-right: 10px;
}
.icon_daily {
  background-color: #c0c0bfa3;
  border-radius: 5px;
  margin: 10px;
}
@media screen and (max-width: 577px) {
  .weather-temperature img {
    width: 50px;
    height: 50px;
    position: relative;
    top: -10px;
  }
  #temperature {
    font-size: 28px;
  }
  .weather-temperature .units {
    top: 0;
  }
  .forecast-top-block {
    margin: 0 3% 0;
  }
  .forecast-daily-block {
    margin-bottom: 20px;
  }
}
